<!doctype html>

<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        AI로 MBTI 예측하기
    </title>

    <link rel="stylesheet" type="text/css" href="">
    <link rel="shortcut icon" href=""><!-- 파비콘 아이콘 -->
    <style>
        .subtitle {
            margin-top: 30px;
            margin-left: 10px;
            color: #2F5597;
            font-weight: 700;
        }

        div.textbox {
            display: table-cell;
            width: 100px;
            height: 100px;
            background: #ffffff;
            font-size: 70px;
            text-align: center;
            color: #67709e;
            font-weight: bold;
            border: 6px solid rgb(187, 187, 187);
            box-shadow: 0 0 16px rgb(221, 221, 221);
            border-radius: 25px;
            border-spacing: 5px;
            border-collapse: separate;
            justify-content: space-between;
            margin: 0 auto;
        }

        div.textbox2 {
            display: table-cell;
            width: 100px;
            height: 100px;
            background: #ffffff;
            font-size: 70px;
            text-align: center;
            color: #67709e;
            font-weight: bold;
            border-radius: 25px;
            border-spacing: 5px;
            border-collapse: separate;
            justify-content: space-between;
            margin: 0 auto;
        }

        div.texttable {
            display: flex;
            border-spacing: 5px;
            height: 150px;
            margin: 10px;
            width: 500px;
            margin: 0 auto;
        }
    </style>



    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


</head>



<body>

    <div id="wrap">

        <div class="subtitle">
            AI가 MBTI 계산을 완료하였습니다.

            <div style="text-align: center;">
                <img src="{{url_for('static', filename='image/loading.gif')}}">
            </div>
        </div>


        <div style="text-align: center;">
            <b style="color: #444b52"> 정확도 측정을 위해 당신의 <b style="color:#3362b3">MBTI</b>를 입력해 주세요<b
                    style="color: #8a8c8f">(알파벳을 클릭해주세요)</b>.</b>
        </div>
        <br><br>
        <div class="texttable">
            <div class="textbox" id="viewtext1"></div>
            <div class="textbox" id="viewtext2"></div>
            <div class="textbox" id="viewtext3"></div>
            <div class="textbox" id="viewtext4"></div>
        </div>


        <!--div style="text-align: center; ">
            <button onclick="location.href='input'" style="border:0;background-color: white;"> <img
                    style="width: 50px; height: 50px;" src="{{url_for('static', filename='image/reset.png')}}"></button><br>
            <button onclick="location.href='input'" style="border:0;background-color: white;"> <b
                    style="color: rgb(104, 104, 104);"> 초기화 </b></button>
        </div-->



        <br>
        <div class="texttable">

            <button id="inputE"
                style="border-style: solid; background-color: #ffffff; border: #ffffff; width: 100px; height: 100px;"><b
                    style="font-size: 70px; color: #67709e;">E</b></button>
            <b style="margin: 15px;"></b>
            <button id="inputN"
                style="border-style: solid; background-color: #ffffff; border: #ffffff; width: 100px; height: 100px;"><b
                    style="font-size: 70px; color: #67709e">N</b></button>
            <b style="margin: 15px;"></b>
            <button id="inputT"
                style="border-style: solid; background-color: #ffffff; border: #ffffff; width: 100px; height: 100px;"><b
                    style="font-size: 70px; color: #67709e">T</b></button>
            <b style="margin: 15px;"></b>
            <button id="inputP"
                style="border-style: solid; background-color: #ffffff; border: #ffffff; width: 100px; height: 100px;"><b
                    style="font-size: 70px; color: #67709e">P</b></button>
        </div>

        <div class="texttable">

            <button id="inputI"
                style="border-style: solid; background-color: #ffffff; border: #ffffff; width: 100px; height: 100px;"><b
                    style="font-size: 70px; color: #67709e;">I</b></button>
            <b style="margin: 15px;"></b>
            <button id="inputS"
                style="border-style: solid; background-color: #ffffff; border: #ffffff; width: 100px; height: 100px;"><b
                    style="font-size: 70px; color: #67709e">S</b></button>
            <b style="margin: 15px;"></b>
            <button id="inputF"
                style="border-style: solid; background-color: #ffffff; border: #ffffff; width: 100px; height: 100px;"><b
                    style="font-size: 70px; color: #67709e">F</b></button>
            <b style="margin: 15px;"></b>
            <button id="inputJ"
                style="border-style: solid; background-color: #ffffff; border: #ffffff; width: 100px; height: 100px;"><b
                    style="font-size: 70px; color: #67709e">J</b></button>

           
        </div>
        
        <span id="mbti_model" style="display:none">{{mbti_result}}</span>
        <!--div style="text-align: right; margin-right: 30%;">
            <b style="display: none;" id="mbti_model">INTP</b>
            
            <button id="mbticheck" onclick="location.href='result'"
                style="border-color: #ffffff; background-color: #ffffff; border-style: solid; color: #3362b3"><b>제출</b></button>
            

        </div-->
   

        <form method="post" name="submit_form" action="result"> 

            <input type="hidden" name="mbti_input" value=""> 
            
          
            
        </form>
           
        <div style="text-align: right; margin-right: 10%;"> 
            <button id="submit1" onclick="location.href='result'" style="text-align: right; margin-right: 30%;border-color: #ffffff; background-color: #ffffff; border-style: solid; color: #3362b3; font-size: 15px "><b>제출</b></button>
        </div>
        
            
        <!--form method="GET" action="/mbti" style=" text-align: right; margin-right: 30%;">
            <div>
                <label for="char"></label>
                <input type="text" name="char">
                
            </div>
        </form-->


        <script type="text/javascript">
            var mbti1 = null;
            var mbti2 = null;
            var mbti3 = null;
            var mbti4 = null;

            $("button#inputE").click(function () {
                $("div#viewtext1").text("E");
                mbti1 = "E";//$('viewtext1').text();
                //mbti = mbti1 + mbti2 + mbti3 + mbti4;
            });

            $("button#inputI").click(function () {
                $("div#viewtext1").text("I");
                mbti1 = "I";//$('viewtext1').text();
               // mbti = mbti1 + mbti2 + mbti3 + mbti4;
            });

            $("button#inputN").click(function () {
                $("div#viewtext2").text("N");
                mbti2 = "N";//$('viewtext2').text();
               // mbti = mbti1 + mbti2 + mbti3 + mbti4;
            });

            $("button#inputS").click(function () {
                $("div#viewtext2").text("S");
                mbti2 = "S";//$('viewtext2').text();
                //mbti = mbti1 + mbti2 + mbti3 + mbti4;
            });

            $("button#inputT").click(function () {
                $("div#viewtext3").text("T");
                mbti3 = "T";//$('viewtext3').text();
                //mbti = mbti1 + mbti2 + mbti3 + mbti4;
            });
            $("button#inputF").click(function () {
                $("div#viewtext3").text("F");
                mbti3 = "F";//$('viewtext3').text();
               // mbti = mbti1 + mbti2 + mbti3 + mbti4;
            });
            $("button#inputP").click(function () {
                $("div#viewtext4").text("P");
                mbti4 = "P";//$('viewtext4').text();
               // mbti = mbti1 + mbti2 + mbti3 + mbti4;
            });
            $("button#inputJ").click(function () {
                $("div#viewtext4").text("J");
                mbti4 = "J";//$('viewtext4').text();
               // mbti = mbti1 + mbti2 + mbti3 + mbti4;
            });


        </script>

        <form action="/mbti" method="post" name="mbtiForm" style="display: none">
            <input type="text" name="usermbti" id="submitmbti">
            <input type="submit" value="Submit">
            
        </form>
     
        <script>
            //이 스크립트는 1초마다 확인해야 함.
                
                var show = document.getElementsByName("submit_form");
                
                var model= $("#mbti_model").text();
                console.log(model);

                show[0].style.display="none";

                //var isStop = false;

                var timer=setInterval(function(){
                    
                    console.log(12345);
                    
                    if(model == ""){
                        console.log(1111111);
                    }
                    else{
                        localStorage.clear();
                        localStorage.setItem("mbti_model", model);
                        console.log(document.getElementById("mbti_model").value);
                        
                        setTimeout(function(){
                            show[0].style.display="block";
                        }, 1000);
                                
                        

                        //로딩 gif 완료로 바꾸기
                        clearInterval(timer);
                        //form tag를 통해서 mbti1+mbti2+mbti3+mbti4 을 서버에 전송
                        //jquery 통해서 button 보이게 하기
                        
                    }

                }, 1000)
                $("button#submit1").click(function () {
                    document.getElementById("submitmbti").value = mbti1+mbti2+mbti3+mbti4;
                    document.mbtiForm.submit();
            });
                
        </script>
        

    </script>



</body>

</html>