<!doctype html>

<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        AI로 MBTI 예측하기
    </title>

    <link rel="stylesheet" type="text/css" href="">
    <link rel="shortcut icon" href=""><!-- 파비콘 아이콘 -->
    <style>
        .subtitle{margin-top: 30px; margin-left: 10px; color:#2F5597; font-weight: 700;}
    </style>
    <!--script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script type="text/javascript">

    $(function(){//제이쿼리 시작
    });
    </script-->    

</head>



<body>

    <div id="wrap">

    <div class="subtitle">
        인상으로 MBTI 알아보기
    </div>

    <br>
    <br>
    <br>
    <div style="text-align: center;">
       
        <b style="color:#3362b3">안내선</b>
     
        <b style="color:#444b52">에 얼굴을 맞추어 주세요</b>

       <br><br><br><br>
        <div style="text-align: center;">
            <img src="{{url_for('static', filename='image/face.png')}}">
        </div>

        <br><br><br>

        <button onclick="location.href='Yes'" style="border: #ffffff; background-color: #ffffff;"><h3 style="color: #444b52;">다시 촬영하기</h3></button>
        <b style="margin: 20px;"> </b>
        <button onclick="location.href='input'" style="border: #ffffff;  background-color: #ffffff;"><h3 style="color:#3362b3;">계속</h3></button>

    </div>

</body>

</html>